<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/cf6fa412bd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="TelaLoginStyle.css">
    
    <title>Tela de Login Cyber Games</title>
</head>
<body>
    <div class="card">
        <div class="container">
          <div class="title">
            <h1>Login</h1>
          </div>
      
          <form id="login">
            <div class="input-container">
                <i class="fas fa-envelope iEmail"></i>
                <input type="text" placeholder="E-mail:" required />
            </div>
            <div class="input-container">
                <i class="fas fa-lock iPassword"></i>
                <input type="password" placeholder="Senha:" required />
            </div>
            <button type="submit">Acessar</button>
            <div>
                <hr>
            </div>
            <p>
                Não tem uma conta?
                <a href="../TelaCadastro/TelaCadastro.html">
                  Cadastre-se
                </a>
              </p>
          </form>                
        </div>
      </div>
</body>
</html>