<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../MensagemCadastro/MensagemCadastro.css">
    <title>Obrigado pelo seu Cadastro na CyberGames!</title>
</head>
<body>
    <div class="card">
        <div class="container">
            <div class="title">
                <h1>OBRIGADO</h1>
                <h3>POR SE CADASTRAR!</h3>
            </div>
            <p>
                VOLTAR PARA A TELA DE 
                <a href="../TelaLogin/TelaLogin..html">
                  LOGIN
                </a>
              </p>
              <hr>
        </div>
    </div>
</body>
</html>