<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/cf6fa412bd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../TelaCadastro/TelaCadastro.css">
    <title>Tela Cadastro Cyber Games</title>
</head>
<body>
    <div class="card">
        <div class="container">
            <div class="title">
                <h1>Cadastro</h1>
            </div>

            <form id="cadastro">
                <div class="input-container">
                    <i class="fas fa-user iUser"></i>
                    <input type="text" placeholder="Nome:" required />
                </div>
                <div class="input-container">
                    <i class="fas fa-envelope iEmail"></i>
                    <input type="text" placeholder="E-mail:" required />
                </div>  
                <div class="input-container">
                    <i class="fa fa-calendar iDate"></i>
                    <input type="date" required />
                </div>                        
                <div class="input-container">
                    <i class="fa fa-lock iPassword"></i>
                    <input type="password" placeholder="Senha:" required />
                </div>
                <div class="input-container">
                    <i class="fa fa-lock iPassword2"></i>
                    <input type="password" placeholder="Confirmar senha:" required />
                </div>

                <div class="buttons">                
                    <button class="btnBack" type="submit">Voltar</button>
                    <button class="btnSend" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
