<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../TelaDetalhes/TelaDetalhes.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Detalhes</title>
</head>
<body>
    <header>
        <!-- Nav -->
        <div class="nav container">
            <!-- Logo -->
            <a href="#" class="logo">Cyber<span>Games</span></a>
        <!--Nav Icons -->
        <div class="nav-icons">
            <a href="../TelaLogin/TelaLogin..html">
                <i class='bx bx-user' id="user-icon"></i>
            </a>            
            <i class='bx bx-cart' id="cart-icon"></i>
            <div class="menu-icon">
                <div class="linha1"></div>
                <div class="linha2"></div>
                <div class="linha3"></div>
            </div>
        </div>
        </div>
        <!-- Menu -->
        <div class="menu">
            <img src="../Imagens/menu.png" alt="">
            <div class="navbar">
                <li><a href="../TelaPrincipal/TelaPrincipal.html"></a></li>
                <li><a href="#trending">Trending</a></li>
                <li><a href="#new">Novos Jogos</a></li>
                <li><a href="#action">Ação Games</a></li>
                <li><a href="#contact">Contatos</a></li>
            </div>
        </div>
        <script src="../TelaDetalhes/TelaDetalhes.js"></script>

        
        <main>
            <div class="plano_de_fundo">
                <div class="principal">

                <div class="img_filme">
                    <img src=https://www.themoviedb.org/t/p/w200/wd7b4Nv9QBHDTIjc2m7sr0IUMoh.jpg>  
                </div>
                <div class="enredo">
                    <span id="hero">Batman</span>  
                    <p id="txtenredo">Após dois anos espreitando as ruas como Batman, Bruce Wayne se encontra nas profundezas mais sombrias de Gotham City. Com poucos aliados confiáveis, o vigilante solitário se estabelece como a personificação da vingança para a população.</p>  
                </div>
            </div>       
            <div class="btn">
                <div id="btn_pink">
                    <a href="#">voltar</a>
                </div>
                <div id="btn_pink">
                    <a href="#">site</a>
                    <i class="ri-global-line"></i>
                </div>
                <div id="btn_pink">
                    <a href="#">trailer</a>
                </div>
            </div>
        </div>            
        <section class="elenco_filme">
            <div class="batman_elenco">
                <img src="" alt="">
            </div>
        </section>       
    </main>       
</body>
</html>